name: Release Data Browser

on:
  release:
    types: [created]

jobs:
  build-and-upload:
    if: startsWith(github.ref, 'refs/tags/sop4py-') || startsWith(github.ref, 'refs/tags/Sop4CS-')
    name: Build and Upload Data Browser
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - os: linux
            arch: amd64
            ext: ""
          - os: linux
            arch: arm64
            ext: ""
          - os: darwin
            arch: amd64
            ext: ""
          - os: darwin
            arch: arm64
            ext: ""
          - os: windows
            arch: amd64
            ext: ".exe"

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Build Binary
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}
        run: |
          cd tools/data_browser
          go build -o ../../sop-browser-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.ext }} main.go

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./sop-browser-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.ext }}
          asset_name: sop-browser-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.ext }}
          asset_content_type: application/octet-stream
